<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <!-- [ngClass] ==> to add a CSS class to an element -->
          <!-- [ngStyle] ==> to add directly a style to an element -->
          <li
            class="list-group-item"
            [ngClass]="{odd: odd % 2 !== 0}"
            [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}"
            *ngFor="let odd of oddNumbers">
            {{ odd }}
          </li>
        </div>
        <div *appStructuralDirective="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{even: even % 2 === 0}"
            *ngFor="let even of evenNumbers">
            {{ even }}
          </li>
        </div>
      </ul>
      <p appBasicHighlight> Style me with basic directive!</p>
      <p appEnhancedCustomDirective> Style me with enhanced directive!</p>
       <!-- we use brackets and set a value to a directive when this has an input(property binding) with the same name -->
      <p [appEventCustomDirective]="'red'" [highlightColor]="'yellow'"> Style me with event directive!</p>
      
    </div>
  </div>
</div>
