<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <!-- routerLink is an Angular directive -->
        <!-- The element that has routerLink will serve as a link but clicking on it doesn't reload the page -->
        <!-- this directive catches the click element and prevent the default behavior(send the request and reload the page) -->
        <!-- and also analyzes the given path and checks if it is fitting a specific route in the appRoutes configuration -->
        <!-- routerLinkActive is an Angular directive which allows to put the active class to the element when is clicked -->
        <!-- The active class inform bootstrap which tab is active -->
        <!-- routerLinkActiveOptions it is a configuration used to mach the exact path "/" -->
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/">Home</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/servers">Servers</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/users">Users</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Marks the place in our document where we want the Angular to load the component of the currently selected route -->
      <router-outlet></router-outlet>
      <!-- this hook it reserved for all routes on the top level and not the children -->
    </div>
  </div>
</div>
