<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent</h3>
      <app-servers></app-servers>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Create two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a warning or success message in the Components</li>
        <li>Style the Components appropriately (maybe some red/ green text?)</li>
      </ol>
      <p>Use external or internal templates and styles!</p>
      <p>Feel free to create more components, nest them into each other or play around with different types of
        selectors!</p>
      <hr>
    </div>
    <div class="col-xs-12">
      <h3>Sucess</h3>
      <hr>
      <app-successAlert></app-successAlert>
    </div>
    <div class="col-xs-12">
      <h3>Warning</h3>
      <hr>
      <app-warningAlert></app-warningAlert>
    </div>
  </div>
</div>
