<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- [queryParams] is a bindable property of the routerLink directive -->
      <!-- http://localhost:4200/servers/5/edit?allowEdit=1 -->
      <!-- With fragment http://localhost:4200/servers/5/edit?allowEdit=1#loading -->
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
        fragment="loading"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!-- Add a new hook which will be used to render all components of child routes of the active route(/servers)  -->
    <router-outlet></router-outlet> 
    <!-- <button
      class="btn btn-primary"
      (click)="onReload()">
      Reload Page
    </button>
    <app-edit-server></app-edit-server>
    <hr> -->
    <!-- <app-server></app-server> -->
  </div>
</div>

